#section-project{
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  margin: 2% 0 3% 0;
}

#project-sub{
  min-height: 65vh;
}

#projects-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#projects-menu h4{
  margin:  0 0 0 0;
}

#projects-menu h4:hover{
  color: var(--grey);
  cursor: pointer;
}

.project-chosen{
  text-decoration: underline solid var(--pink) 5px; 
  text-underline-offset: 10px;
}


#projects-details{
  padding: 2% 0 0 0;
  margin: 3% 0 0 0;
  height: 100%;
}


#project-img{
  height: 100%;
  max-width: 50%;
}

#project-img img{
  max-width: 100%;
}


#project-text{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 5%;

}

#project-tech{
  flex-wrap: wrap;
}

.tech-card-project{
  align-items: center;
  background-color: var(--purple);
  border-radius: 10px;
  display: flex;
  font-family: var(--font-sans);
  justify-content: center;
  margin: 2% 2% 0 0;
  padding: 1% 1% 0 1% ;
  min-width: 20%;
}



#project-buttons{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

#project-buttons div{
  margin: 0 2% 0 0;
  width: 25%;
}

#project-buttons button{
  background-color: var(--blue);
  border: none;
  font-family: var(--font-sans);
  font-size: 18px;
  margin: 15% auto 10% auto;
  padding: 5% 0 0 0;
  width: 100%;
}

#project-buttons button:hover{
  background-color: var(--green);
  cursor: pointer;
}