#section-about{
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  margin: 2% 0 15% 0;
}

#about-sub{
  justify-content: space-between;
}

#about-text{
  display: flex;
  flex-direction: column;
  width: 60%;
}

#about-text p{
  margin: 0 0 5% 0;
}


#about-bottom h3{
  font-family: var(--font-serif);
  font-size: 1.5rem;
  margin: 2% 0 0 0;
  text-align: center;
}

#about-buttons{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}


#about-buttons div{
  margin: 0 2% 0 0;
  width: 25%;
}

#about-buttons button{
  margin: 15% auto 10% auto;
  width: 100%;
}


#about-link{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
}

#subtitle{
  font-size: 12px;
  margin: 0 0 5% 0;
  text-align: center;
}


.education-flex-container{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 0 0 0 ;
}

.education-flex-item{
	text-align: center;
  width: 100%;
}


.education-flex-item h4{
	font-size: 1.25rem;
  margin: 5% 0 5% 0 ;
}

.education-item p{
  font-size: 15px;
}

.education-item p:hover{
	cursor: pointer;
	background-color: var(--green);
}


.education-line{
  border-left: 2px solid var(--grey-light);
  height: 30px;
  margin: 2% 0 0 0;
}

.education-line-item{
  border-left: 1px solid var(--grey-light);
  height: 20px;
  margin: 1% 0 0 0;
}

