#section-about{
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  margin: 2% 5% 15% 5%;
  position: relative;
  z-index: 2;
}

#section-about h3{
  font-size: 1.25rem;
  margin: 0 0 5% 0;
}

#about-text{
  display: flex;
  flex-direction: column;
  width: 50%;
}

#about-text p{
  margin: 0 0 5% 0;
}


#about-tech{
  margin: 0 0 0 10%;
  width: 40%;
}


#tech-stack{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 3% 0;
  width: 100%;
}

.tech-card{
  align-items: center;
  background-color: var(--grey-light);
  display: flex;
  height: 13%;
  justify-content: center;
  margin: 0 2% 3% 0;
  padding: 1% 3%;
  min-width: 20%;
}

.tech-card p{
  text-align: center;
  width: 100%;
}

#about-tech h4{
  margin: 2% 0 0 0;
}