#section-tech{
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  margin: 2% 0 15% 0;
}



#tech-learn{
  width: 30%;
}

#tech-learn h3{
  font-family: var(--font-serif);
  font-size: 2.0rem;
  text-align: center;
}