#navbar-div{
  display: flex;
  justify-content: flex-end;
  position: sticky;
}

.fa-bars{
  color: var(--grey-dark);
  font-size: 2.0rem;
  margin: 2% 3% 0 0;
}

#navbar-menu{
  background-color: green;
  /* position: absolute; */
  width: 50vw;
  height:75vh
}