/* Create root styling */


:root{

  /* Fonts */
  --font-sansSerif: 'Raleway', sans-serif;;

  /* Colours */
  --black: #111111;
  --grey-dark: #222222;
  --grey: #555555;
  --grey-light:#e1e0e0;
  --white: #f5f5f5;
  --navy:#050d1a;
  --yellow : #FFC947;
	--blue-bright : #185ADB;
}

/* Elements */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sansSerif);
  margin: 0;
}

p{
  font-size: 1.0rem;
  line-height: 2.0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

hr{
  border: none;
  border-top: 4px solid var(--yellow);  
  width: 3%;
}

a, u {
  text-decoration: none;
}

/* Classes */

.theme-light{
  background-color: white;
  color: var(--grey-dark);
}

.theme-dark{
  background-color: var(--grey-dark);
  color: var(--white);
}

.div-split{
  display: flex;
  flex-direction: row;
}

.div-stack{
  display: flex;
  flex-direction: column;
}

button{
  font-size: 18px;
}

button:hover{
  cursor: pointer;
}


.title-alignment{
  align-items: center;
  margin: 15vh 0 2vh 0;
  text-align: center;
}

.title-alignment h2{
  color: var(--navy);
  font-size: 2.0rem;
}



#footer{
  color: var(--grey-light);
  font-size: 0.7rem;
  margin: 5% 0 1% 0;
  text-align: center;
}